@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ececec;
    --second-bg-color: #ffffff;
    --text-color: rgb(3, 35, 94);
    --second-color: rgb(0, 0, 0);
    --main-color: #c96522;
    --big-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --p-small-font: 0.9rem;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--main-color);
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/img-BrancoPortfolio2.png'); /* Caminho da sua imagem */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Faz a imagem ficar fixa enquanto rola a página */
}

/* HEADER */

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta para o Amaral e a navegação ficarem na mesma linha */
    position: fixed; /* Fixa o header (Amaral + Navegação) no topo da página */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.8); /* Fundo transparente com leve opacidade */
    z-index: 1000; /* Garante que o header fique por cima de outros elementos */
    box-shadow: 0 4px 6px rgba(250, 250, 250, 0.1); /* Adiciona sombra para dar destaque */
}

header h1 {
    color: #c96522; /*A*/
    font-size: 2.4rem;
}

header span {
    color: #03235e; /*maral*/
}


header .navegacao-primaria {
    display: flex;
    gap: 50px;
    align-items: center;
}

header .navegacao-primaria li a {
    color: #000000; /*seções*/
    width: 0px;
    height: 0px;
    font-size: 1.1rem; /*Tamanho da seção*/
}

header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #c96522;
}

/* DOWLOAD CV SECAO */

section{
    padding: 160px 3% 120px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3 {
    color: var(--main-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

.digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from{
        opacity: 1;  
    }

    to {
        opacity: 0; 
    }
}

@keyframes inicializar {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);

    }
}
.home-text p{
    color: var(--main-color);
    font-size: var(--p-font);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.link{
    color: var(--text-color);
    transition: .5s;
}

.link:hover{
    transition: .5s;
    color: #e4ab32;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover{
    transform: scale(0.9);
}

.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn2 span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .45s ease;
}

.btn2 span i:hover{
    transform: scale(0.9);
}

.socials{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 2em;
}

.btn-socials{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 10px;
}

.btn-socials:nth-child(6){
    margin-right: 0px;
}

.btn-socials span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    transition: all .45s ease;
}

.btn-socials span i:hover{
    transform: scale(0.9);
}

/* SEÇÃO PRINCIPAL SOBRE MIM */

main {
    background: var(--bg-color);
}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #000000;
}

.sobre_titulo h1 {
    font-size: 'Berkshire Swash', cursive;
    font-size: 3rem;
    line-height: 1;
    color: var(--main-color)
}

.sobre_titulo p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #03235e;
}

.sobre img {
    animation: ladoSecao.5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img :hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo {
    animation: sobeSecao.6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: var(--p-font);
    grid-template-columns: 1fr 1fr;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h2{
    font-size: 2.3rem;
    color: var(--text-color);
    grid-column: 1/-1;
}

.sobre_texto h1::after {
    background-color: #03235e;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: #03235e;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: 0.9rem;
}

@keyframes sobeSecao{
    from{
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao{
    from{
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/*RESPONSIVO*/

/* Responsividade para telas menores que 992px (mobile) */
@media(max-width: 992px) {
    .section-div img {
        display: none; /* Ocultar a imagem na seção em telas pequenas */
    }

    .section-div {
        background-image: url('../img/img-BrancoPortfolio2.png'); /* Foto home celular */
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    /* Ocultar o menu de navegação em telas pequenas por padrão */
    header .navegacao-primaria {
        display: none; /* Não exibe o menu */
    }

    /* Exibir o ícone de menu (fa-bars) em telas menores */
    header i.fa-bars {
        display: block; /* Exibe o ícone */
        color: var(--text-color); /* Cor do ícone */
        font-size: 35px; /* Tamanho do ícone */
        z-index: 10001;
        cursor: pointer;
        margin-left: 25px; /* Indica que é clicável */
    }

    /* Menu de navegação no mobile (quando ativado) */
    header .navegacao-primaria.ativado {
        background: linear-gradient(rgba(43,42,42, 0.176), rgba(46,46,46, 0.724));
        position: absolute;
        display: grid; /* Exibe os itens em grid */
        top: 80px; /* Posição abaixo do header */
        color: #ececec; /* Cor do texto */
        z-index: 10; /* Garante que fique acima de outros elementos */
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px; /* Bordas arredondadas */
        right: 20px; /* Alinhado à direita */
        animation: sobeSecao 0.8s ease-in-out forwards; /* Animação suave */
    }

    /* Ajustes de layout para as imagens na seção "sobre" */
    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre_conteudo {
        grid-column: 1/-1;
    }
}

/* Layout desktop (telas maiores que 992px) */
@media(min-width: 993px) {
    header .navegacao-primaria {
        display: flex; /* Exibe o menu de navegação no layout desktop */
    }

    /* Ocultar ícone de menu em telas grandes */
    header i.fa-bars {
        display: none;
    }
}


/*SEÇÃO EXPERIENCES*/

.experience{
    background-color: var(--second-bg-color);
}

.main-text{
    text-align: center;
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    color: var(--text-color)
}

.main-text h2 span{
    font-size: var(--h2-font);
    line-height: 1;
    color: #c96522;
}

.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 32px;
    margin: 2rem;
}

.text-box{
    padding: 20px 20px;
    background: var(--bg-color);
    border-radius: 10px;
    color: var(--text-color);
    width: 60vw;
}

.text-box h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text-box h5 span{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--main-color);
}

.text-box small{
    font-size: 14px;
    font-weight: 800;
}

.text-box small span{
    font-size: 14px;
    font-weight: 800;
    color: var(--main-color);
}

.text-box p{
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: var(--p-font);
    margin: 1rem 0;
}

.text-box p span{
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: var(--p-font);
    margin: 1rem 0;
    color: var(--main-color);
}


/*SEÇÃO EDUCATION*/


.my_resume {
    color: #03235e;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

.resume_gerenica {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.resume_gerenica h2 {
    font-family: 'Poppins';
    font-size: 1.3rem;
    background-color: #ececec; /*1º quadrado*/
    justify-self: start;
    padding: 10px;
    border-radius: 20px;
}

.resume_gerenica h2 i {
    margin-right: 10px;
}

.experience {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.education {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

.experience_content ul {
    color: #707070; /*botoes de baixo*/
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}


.resume_gerenica .experience_content div {
    background-color: #ececec; /*cor das caixinhas*/
    animation: ladoSecao .7s ease-in-out forwards;
    display: none;
    padding: 40px;
    position: relative;
}

.resume_gerenica .experience_content div.ativo {
    display: block;
}


.resume_gerenica .experience_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #ececec;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resume_gerenica .experience_content div span {
    color: #03235e;/*data*/
    font-family: "Poppins";
    font-weight: bold;
}

.resume_gerenica .experience_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_gerenica .experience_content div p {
    color: #000000;
    font-size: 1.1rem;
}

.experience_content ul li.ativo {
    color: #c96522;
}


/*MEUS DIPLOMAS E CURSOS*/


.resume_gerenica .education_content div {
    background-color: #ececec;
    display: none;
    animation: ladoSecao .7s ease-in-out forwards;
    padding: 40px;
    position: relative;
}

.education_content ul {
    color: #707070; /*botoes de baixo*/
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resume_gerenica .education_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #ececec;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resume_gerenica .education_content div span {
    color: #03235e;
    font-family: "Poppins";
    font-weight: bold;
}

.resume_gerenica .education_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_gerenica .education_content div p {
    color: #000000;
    font-size: 1.1rem;
}

.education_content ul li.ativo {
    color: #c96522;
}

.resume_gerenica .education_content div.ativo {
    display: block;
}

/*PROJECTS*/
#projects {
    text-align: center;
    padding: 50px;
}

.projects{
    background: var(--bg-color);
}

.projects-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #03235e;
}

.highlight {
    color: #c96522;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-card {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c96522;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    transition: bottom 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.project-card:hover .overlay {
    bottom: 0;
}

.overlay .project-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #03235e;
}

.overlay .project-description {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #000;
}

.project-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #03235e; 
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 90%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.project-icon:hover {
    background-color: #03235e;
}

.project-icon i {
    color: #c96522
}


/*HABILIDADES*/

.skills{
    background: var(--second-bg-color);
}

.main-text{
    text-align: center;
}

.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-height: 300px;
    min-height: 200px;
    text-align: center;
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i{
    font-size: 36px;
}

.skill-card h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

.skill-card:hover{
    transform: translateY(-8px);
}
