@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/img-BrancoPortfolio2.png'); /* Caminho da sua imagem */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Faz a imagem ficar fixa enquanto rola a página */
}

/* HEADER */

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta para o Amaral e a navegação ficarem na mesma linha */
    position: fixed; /* Fixa o header (Amaral + Navegação) no topo da página */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.8); /* Fundo transparente com leve opacidade */
    z-index: 1000; /* Garante que o header fique por cima de outros elementos */
    box-shadow: 0 4px 6px rgba(250, 250, 250, 0.1); /* Adiciona sombra para dar destaque */
}

header h1 {
    color: #c96522; /*A*/
    font-size: 2.4rem;
}

header span {
    color: #03235e; /*maral*/
}


header .navegacao-primaria {
    display: flex;
    gap: 50px;
    align-items: center;
}

header .navegacao-primaria li a {
    color: #000000; /*seções*/
    width: 0px;
    height: 0px;
    font-size: 1.3rem; /*Tamanho da seção*/
}

header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #c96522;
}

/* DOWLOAD CV SECAO */

.section-div {
    animation: inicializar .7s forwards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 50px;
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 15px;
}

.section-div div h1 { /*Anderson Amaral*/
    color: #03235e;
    font-family: 'Poppins';
    font-weight: 600;
}

.section-div div h2 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #c96522; /*Developer back end*/
}

.section-div div p {
    font-family: 'Poppins';
    font-weight: 600;
    color: #000000;
}

.section-div div a {
    justify-self: start;
    color: #000; /*Cor dowload CV*/
    padding: 15px 40px;
    border-radius: 100px;
    border: 3px solid rgb(0, 0, 0);
}

.section-div img {
    max-width: 100%;
}


.digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from{
        opacity: 1;  
    }

    to {
        opacity: 0; 
    }
}

@keyframes inicializar {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);

    }
}

/* SEÇÃO PRINCIPAL SOBRE MIM */

main {
    color: rgb(0, 0, 0);
}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #000000;
}

.sobre_titulo h1 {
    font-size: 2.5rem;
    color: #c96522;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive; 
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #03235e;
}

.sobre img {
    animation: ladoSecao.5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img :hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo {
    animation: sobeSecao.6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #000000;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h2{
    font-size: 2.3rem;
    color: #000000;
    grid-column: 1/-1;
}

.sobre_texto h1::after {
    background-color: #03235e;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: #03235e;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: 0.9rem;
}

@keyframes sobeSecao{
    from{
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao{
    from{
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

/*RESPONSIVO*/

/* Responsividade para telas menores que 992px (mobile) */
@media(max-width: 992px) {
    .section-div img {
        display: none; /* Ocultar a imagem na seção em telas pequenas */
    }

    .section-div {
        background-image: url('../img/img-BrancoPortfolio2.png'); /* Foto home celular */
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    /* Ocultar o menu de navegação em telas pequenas por padrão */
    header .navegacao-primaria {
        display: none; /* Não exibe o menu */
    }

    /* Exibir o ícone de menu (fa-bars) em telas menores */
    header i.fa-bars {
        display: block; /* Exibe o ícone */
        color: #090909; /* Cor do ícone */
        font-size: 2rem; /* Tamanho do ícone */
        cursor: pointer; /* Indica que é clicável */
    }

    /* Menu de navegação no mobile (quando ativado) */
    header .navegacao-primaria.ativado {
        background: linear-gradient(rgba(43,42,42, 0.176), rgba(46,46,46, 0.724));
        position: absolute;
        display: grid; /* Exibe os itens em grid */
        top: 80px; /* Posição abaixo do header */
        color: #ececec; /* Cor do texto */
        z-index: 10; /* Garante que fique acima de outros elementos */
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px; /* Bordas arredondadas */
        right: 20px; /* Alinhado à direita */
        animation: sobeSecao 0.8s ease-in-out forwards; /* Animação suave */
    }

    /* Ajustes de layout para as imagens na seção "sobre" */
    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre_conteudo {
        grid-column: 1/-1;
    }
}

/* Layout desktop (telas maiores que 992px) */
@media(min-width: 993px) {
    header .navegacao-primaria {
        display: flex; /* Exibe o menu de navegação no layout desktop */
    }

    /* Ocultar ícone de menu em telas grandes */
    header i.fa-bars {
        display: none;
    }
}


/*SEÇÃO SERVICES*/

.services {
    margin-top: -30px;
    padding: 60px;
}

.my_services {
    padding: 60px;
    color: rgb(0, 0, 0);
}

.my_services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.my_services ul li {
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    padding: 5px;
    display: grid;
    gap: 5px;
    text-align: center;
    max-width: 300px;
    align-content: center;
    height: 300px;
    background-color: #ececec;/*cor do fundo dos quadrados*/
}

.my_services ul li i {
    font-size: 2.7rem;
    color: #03235e;
}

.my_services ul li h3 {
    color: #1b1b1b;
    font-size: 1.5rem;
    font-family: 'poppins';
    font-weight: 500;
}

.my_services ul li p {
    color: #707070;
    font-size: 1.1rem;
}

.my_services li::before{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.my_services li::after{
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.my_services li:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid #c96522;
    border-right: 2px solid #c96522;
}

.my_services li:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #c96522;
    border-left: 2px solid #c96522;
}

/*EXPERIENCES*/

.my_resume {
    color: #03235e;
    font-family: 'Poppins', sans-serif;
}

.resume_gerenica {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.resume_gerenica h2 {
    font-family: 'Poppins';
    font-size: 1.3rem;
    background-color: #ececec; /*1º quadrado*/
    justify-self: start;
    padding: 10px;
    border-radius: 20px;
}

.resume_gerenica h2 i {
    margin-right: 10px;
}

.experience {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.education {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

.experience_content ul {
    color: #707070; /*botoes de baixo*/
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}


.resume_gerenica .experience_content div {
    background-color: #ececec; /*cor das caixinhas*/
    animation: ladoSecao .7s ease-in-out forwards;
    display: none;
    padding: 40px;
    position: relative;
}

.resume_gerenica .experience_content div.ativo {
    display: block;
}


.resume_gerenica .experience_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #ececec;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resume_gerenica .experience_content div span {
    color: #03235e;/*data*/
    font-family: "Poppins";
    font-weight: bold;
}

.resume_gerenica .experience_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_gerenica .experience_content div p {
    color: #000000;
    font-size: 1.1rem;
}

.experience_content ul li.ativo {
    color: #c96522;
}


/*MEUS DIPLOMAS E CURSOS*/


.resume_gerenica .education_content div {
    background-color: #ececec;
    display: none;
    animation: ladoSecao .7s ease-in-out forwards;
    padding: 40px;
    position: relative;
}

.education_content ul {
    color: #707070; /*botoes de baixo*/
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

.resume_gerenica .education_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #ececec;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;
}

.resume_gerenica .education_content div span {
    color: #03235e;
    font-family: "Poppins";
    font-weight: bold;
}

.resume_gerenica .education_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_gerenica .education_content div p {
    color: #000000;
    font-size: 1.1rem;
}

.education_content ul li.ativo {
    color: #c96522;
}

.resume_gerenica .education_content div.ativo {
    display: block;
}

/*PROJECTS*/
#projects {
    text-align: center;
    padding: 50px;
}

.projects-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #03235e;
}

.highlight {
    color: #c96522;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-card {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c96522;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    transition: bottom 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.project-card:hover .overlay {
    bottom: 0;
}

.overlay .project-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #03235e;
}

.overlay .project-description {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #000;
}

.project-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #03235e; 
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 90%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.project-icon:hover {
    background-color: #03235e;
}

.project-icon i {
    color: #c96522
}


/*HABILIDADES*/

#skills {
    text-align: center;
    padding: 50px 0;
}

#skills h2 {
    font-size: 2.5rem;
    color: #c96522;
}

#skills h2 span {
    color: #03235e;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.skill-card {
    background: #ececec;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(248, 248, 248, 0.938);
}

.skill-card img {
    width: 60px;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #002147;
}